<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" [(ngModel)]="input">Enter Name of Picture: </ion-input>
  </ion-item>
    <ion-img [src]="currentImage" style="height: 75%" alt="Take Photo"></ion-img>
</ion-content>

<ion-footer>
    <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
    <ion-button expand="block" color="tertiary" (click)="postPhoto()">Post Photo</ion-button>
    <ion-button expand="block" color="danger" (click)="deletePhoto()">Delete Photo</ion-button>
</ion-footer>
