<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
  <img [src]="currentImage" height="200" alt="Take Photo">
  <ion-input type="text" [(ngModel)]="input">Enter Name of Picture: </ion-input>
  <ion-button expand="block" (click)="postPhoto()">Post Photo</ion-button>
  <ion-button expand="block" (click)="deletePhoto()">Delete Photo</ion-button>
</ion-content>
